body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  color: green;
}

.title {
  color: red;
  font-size: large
}

.newMessageLink {
  text-decoration: none;
  color: #00B7FF;
  transition: all .5s;
}

.newMessageLink:hover {
  color: red;
}

.messagesTitle{
  margin-top: 2rem;
  font-size: medium;
}

.messageDiv{
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
}

.messageDiv::before {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 0;
  height: 65%;
  border: solid 1px black;
}

h6 {
  font-style: italic;

font-weight: normal;}